:root {
  --whiteshade: #F6F5F5;
  --blueshade: #0054A5;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Aclonica';
  font-size: 16px;
}

#wrapper {
  width: 80%;
  margin: 0 auto;
/*  height: 100%;*/
}

#main {
  background: url('assets/banner.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -161px;
}

#features {
  width: 36%;
  display: block;
  height: 100%;
}

#logo {
  background: var(--whiteshade);
  color: var(--blueshade);
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.school-name {
  font-size: 1.3rem;
  display: block;
}

#feature-items {
  background: #000;
  opacity: 0.85;
}

#features ul {
  list-style-type: none;
  margin: 0 10px;
  padding: 15px 10px;
}

#features ul li {
  text-transform: uppercase;
  padding: 15px;
  color: var(--whiteshade);
  font-size: 1.3rem;
}

#footer {
  background: var(--blueshade);
}

#footer-cta {
  margin: 0 55px;
}

#footer #footer-cta h1 {
  display: inline-block;
  font-size: 2.5rem;
  color: var(--whiteshade);
}

#footer-cta a {
  text-decoration: none;
  font-size: 2rem;
  background: var(--whiteshade);
  color: var(--blueshade);
  margin-left: 250px;
  padding: 5px 15px;
  border-radius: 35px;
}

#footer-cta a:hover {
  text-decoration: none;
  font-size: 2rem;
  background: var(--whiteshade);
  color: red;
  margin-left: 250px;
  padding: 5px 15px;
  border-radius: 35px;
}